<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jankenpon Game</title>
    <link rel="icon" type="image/x-icon" href="img/favicon_io/favicon-16x16.png">
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/gameStyle.css">
</head>

<body>
    <div class="game-screen">
        <header id="header" class="container">
            <img id="back-icon" src="/assets/back.png" alt="back-icon">
            <h1>ROCK PAPER SCISSORS</h1>
        </header>
        <main class="container">
            <div class="game-grid">
                <div class="player-name">
                    <h5>PLAYER 1</h5>
                </div>
                <div id="p-rock">
                    <img onclick="User.userPick('rock')" class="p-rock" src="/assets/batu.png" alt="">
                </div>
                <div id="p-paper">
                    <img onclick="User.userPick('paper')" class="p-paper" src="/assets/kertas.png" alt="" srcset="">
                </div>
                <div id="p-scissor">
                    <img onclick="User.userPick('scissor')" class="p-scissor" src="/assets/gunting.png" alt="" srcset="">
                </div>

                <p id="winner" class="vs">VS</p>
                <div class="com-name">
                    <h3>COM</h3>
                </div>
                <div id="c-rock">
                    <img class="com-rock" src="assets/batu.png" alt="">
                </div>
                <div id="c-paper">
                    <img class="com-paper" src="assets/kertas.png" alt="" srcset="">
                </div>
                <div id="c-scissor">
                    <img class="com-scissor" src="assets/gunting.png" alt="" srcset="">
                </div>
                <img onclick="Com.refresh()" class="refresh" src="assets/refresh.png" alt="" srcset="">
            </div>
    </div>
    </main>
    </div>
    <script src="/game.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>