<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/loginStyle.css">
</head>
<body class="text-center">
    
    <main class="form-signin w-100 m-auto">
      <form action="/game" method="post">
        <h1 class="h3 mb-3 fw-normal">Please insert name and email to play</h1>
        <div class="form-floating">
          <input name="nickname" type="text" class="form-control" placeholder="name here">
          <label for="floatingInput">nickname</label>
        </div>
        <div class="form-floating">
          <input name="email" type="email" class="form-control" placeholder="name@example.com">
          <label for="floatingPassword">email</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© all right reserved</p>
      </form>
    </main>  
    </body>
</html>