.main-menu {
    background-image: url(../assets/main-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.navbar {
    opacity: 0.5;
}

.navbar-collapse {
    flex-grow: 0!important;
}

.main-cta {
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-playnow {
    width: 150px;
    height: auto;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translate(50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.gameplay-option {
    background-image: url(../assets/the-games-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.wrapper {
    padding-top: 25vh;
    display: grid;
    grid-template-columns: 30% 70%;
    color: aliceblue;
}
.carousel-game {
    position: absolute;
    right: 50px;
    top: 50px;
}

.carousel-control-prev-icon {
    background-image: url(../assets/switch-left.svg)
}

.carousel-control-next-icon {
    background-image: url(../assets/switch-right.svg)

}

.carousel-control-next {
    right: -75px;
}

.carousel-control-prev {
    left: -75px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    margin: 0 20px;
    border-radius: 50%;
}

.carousel-item {
    height: 400px;
}
.w-100 {
    height: 400px;
}

.game-feature {
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/features.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25vh auto;
  gap: 10px;
}

.feature-txt {
    padding-top: 20vh;
    grid-column-start: 2;
    grid-column-end: 3;
    color: aliceblue;
}
.feature-list {
    display: grid;
    grid-template-columns: 50px auto;
    padding-top: 10vh;
    grid-column-start: 2;
    grid-column-end: 3;
    color: aliceblue;
}

.sys-req {
    color: aliceblue;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/requirements.png");
    background-size: cover;
    background-position: center;
    display: grid;
    padding: 5em;
    position: relative;
}
.sys-req-txt {
    position: absolute;
    top: 5em;
    right: 50%;
    transform: translate(50%, 0);
}

.sys-req-tbl {
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.sys-req-itm {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}

.item5 {
    grid-column: 1/3;
}

.top-score {
    color: aliceblue;
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/top-score-bg.png);
    background-size: cover;
    background-position: center;
    display: grid;
    padding: 2em;
    position: relative;
}

.top-score > .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;

}

.btn-topscore {
    width: 10em;
}

.card {
    background-color: rgb(36, 36, 36);
    margin: 10px;
    height: 13em;
    width: 25em;
}

.top-score-card {
    height: 95vh;
    width: 50vw;
    position: relative;
}
.card-1 {
    position: absolute;
    top: 0px;
    right: 0px;
}

.card-2 {
    position: absolute;
    top: 35vh;
    left: 0px;
}

.card-3 {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.twitter-svg {
position: absolute;
top: 10px;
right: 10px;
}

.card-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.card-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    grid-row: 1/3;
}

footer {
    height: auto;
    width: 100vw;
    background-color: grey;
}